################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rozvoz-Jidla-GeoAPI/.vs/Rozvoz-Jidla-GeoAPI/v16/Server/sqlite3
